* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFD4F0;
}

h1 {
  font-weight: 100;
  color: #FFF;
  margin: 20px 0;
}

.busca {
  display: flex;
  width: 300px;
}
.busca #searchInput {
  flex: 1;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
}
.busca button {
  padding: 10px;
  font-size: 15px;
  border: 0;
  background-color: #555;
  color: #FFF;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.busca button:hover {
  background-color: #444;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  height: 600px;
  background-color: #d7a2c6;
  background-image: linear-gradient(90deg, #d7a2c6 0%, #bc8ebd 55%, #a980b7 100%);
  border-radius: 20px;
}

#search {
  margin: auto;
}

.resultado {
  display: none;
  margin-top: 20px;
  width: 100%;
}

.titulo {
  width: 100%;
  color: #FFF;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.info {
  display: flex;
  width: 100%;
}
.info .temp {
  flex: 1;
  text-align: center;
}
.info .vento {
  flex: 1;
  text-align: center;
}
.tempTitulo,
.ventoTitulo {
  color: #777;
  font-size: 16px;
  margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
}
.tempInfo sup {
  font-size: 15px;
  font-weight: normal;
}
.ventoInfo span {
  font-size: 15px;
  font-weight: normal;
}
.ventoArea {
  width: 50px;
  height: 50px;
  border: 1px solid #FFF;
  border-radius: 50%;
  margin: auto;
  margin-top: 20px;
  padding-left: 25px;
  padding-top: 25px;
}
.ventoPonto {
  width: 15px;
  height: 1px;
  background-color: #FFF;
  transform-origin: left;
}

.aviso {
  display: none;
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 100px;
}