* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

section {
  position: relative;
  background-image: url('/images/bg.jpg');
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

#content {
  box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 400px;
  background-color: transparent;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

#search {
  width: 80%;
  margin: auto;
}

#search h1 {
  width: 90%;
  font-weight: 100;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#search-form {
  display: flex;
  width: 100%;
}

#search-input {
  flex: 1;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
}

#search-form button {
  padding: 10px;
  font-size: 15px;
  border: 0;
  background-color: #949AE2;
  color: #FFF;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

#search-form button:hover {
  background-color: #444;
}

#result {
  display: none;
  margin-top: 5px;
  padding-left: 50px;
  width: 100%;
  height: 400px;
}

#result-first--content {
  display: flex;
  align-items: center;
}

#result-first--content img {
  margin-left: -20px;
}

#title {
  color: #FFF;
  font-size: 25px;
  font-weight: bold;
}

#tempInfo{
  color: #FFF;
  font-size: 50px;
  font-weight: 100;
}

#tempInfo sup {
  margin-left: -10px;
  font-size: 15px;
  font-weight: normal;
}

#another-informations {
  display: flex;
}

.information {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.information i {
  font-size: 15px;
  color: #fff;
  margin-left: 5px;
}

.informationTitle {
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.informationInfo span {
  padding-right: 5px;
}

.information.wind i {
  margin-right: 5px;
}

.information.wind .informationTitle {
  padding-left: 0;
}

.informationInfo {
  color: #fff;
}

#warning {
  display: none;
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 50px;
}

#date {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 100;
}

#separate-date {
  display: flex;
  margin-top: 10px;
}

#day-week {
  margin-right: 10px;
}

#hour {
  margin-left: 10px;
}

#designed {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  color: #fff;
}

#designed:hover {
  text-decoration: underline;
}