* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

section {
  position: relative;
  background-image: url('/images/beautiful-cityscape-of-an-urban-city-shot-from-above.jpg');
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
}

#content {
  box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 400px;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  border-radius: 20px;
}

h1 {
  width: 90%;
  font-weight: 100;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#search {
  width: 80%;
}

.busca {
  display: flex;
  width: 100%;
}

.busca #searchInput {
  flex: 1;
  padding: 10px;
  outline: none;
  font-size: 15px;
  border-radius: 10px;
  border: 0;
}

.busca button {
  padding: 10px;
  font-size: 15px;
  border: 0;
  background-color: #949AE2;
  color: #FFF;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.busca button:hover {
  background-color: #444;
}

#search {
  margin: auto;
}

.resultado {
  display: none;
  margin-top: 5px;
  padding-left: 50px;
  width: 100%;
  height: 400px;
}

.result-first--content {
  display: flex;
  align-items: center;
}

.result-first--content img {
  margin-left: -25px;
}

.titulo {
  color: #FFF;
  font-size: 25px;
  font-weight: bold;
}

.tempInfo{
  color: #FFF;
  font-size: 50px;
  font-weight: 100;
}

.tempInfo sup {
  margin-left: -10px;
  font-size: 15px;
  font-weight: normal;
}

.another-informations {
  display: flex;
}

.information {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.information i {
  font-size: 15px;
  color: #fff;
  margin-left: 5px;
}

.informationTitle {
  color: #fff;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.informationInfo span {
  padding-right: 5px;
}

.information.vento i {
  margin-right: 5px;
}

.information.vento .informationTitle {
  padding-left: 0;
}

.informationInfo {
  color: #fff;
}

.aviso {
  display: none;
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 50px;
}

.date {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 20px;
  font-size: 17px;
  font-weight: 100;
}

.dia-hora-semana {
  display: flex;
  margin-top: 10px;
}

.dia-semana {
  margin-right: 10px;
}

.hora {
  margin-left: 10px;
}

.designed {
  position: absolute;
  bottom: 5px;
  right: 5px;
  text-decoration: none;
  color: #fff;
}

.designed:hover {
  text-decoration: underline;
}